html body {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
/* Header Section */
/* Houses the HEADER and NAV */
.headerContainer {
    background-color: #1f2937;
    height: 30%;
}
.title {
    display: flex;
    flex-direction: row;
    height: 10%;
    justify-content: space-between;
}
header {
    font: 24px;
    color: #f9faf8;
    padding-left: 70px;
    padding-top: 5px;
}
nav {
    padding-right: 50px;
    padding-top: 5px;
    gap: 5px;
}
nav a {
    margin: 5px;
}

/* Houses the H2 P IMG */
.intro {
    /* border: 2px solid red; */
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.image {
    width: 30%;
    height: 40%;
    object-fit: contain;
    margin-top: 50px;
}
.image img {
    width: 100%;
    height: 100%;
}
.image {
    width: 30%;
    height: 40%;
    object-fit: contain;
    margin-top: 50px;
}
.image img {
    width: 100%;
    height: 100%;
}
.signUp {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 80px;
}
.signUp h2 {
    font: 34px bolder times;
    color: #f9faf8;
    padding-bottom: 0;
    margin-bottom: 0;
}
.signUp p {
    font: 18px;
    color: #e5e7eb;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.signUp input {
    width: 15%;
    background-color: #3882f6;
    border-radius: 5px;
    margin-top: 0;
    padding-top: 0;
}

/* Body 1 section */
/* this will house the h2 and the four cards( img and p ) */
.body1 {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    height: 20%;
}
.body1 h2 {
    text-align: center;
}
.cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cardContainer p {
    text-align: center;
}
.cardContainer img {
    max-width: 50%;
    max-height: 50%;
    padding-left: 70px;
}


/* Quote container */
.quoteContainer {
    display: flex;
    flex-direction: column;
    height: 20%;
    /* border: 2px solid black; */
    margin-top: 40px;
    background-color: #e5e7eb;
}
.quote p {
    text-align: center;
}
.author p {
    text-align: right;
    padding-right: 100px;
}


/* body2 container */
.body2 {
    height: 20%;
    /* border: 2px solid black; */
}
.actionBar {
    border: 2px solid black;
    background-color: #3882f6;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 20px;
}
.actionBar h4 {
    margin-bottom: 0;
}
.actionBar p {
    margin-top: 0;
    padding-top: 0;
}
.actionBar input {
    background-color: #3882f6;
    border: 2px solid white;
    color: white;
    border-radius: 4pt;
    margin-left: 450px;
}

footer {
    border: 2px solid black;
    height: 5%;
    background-color: #1f2937;
    color: white;
    font: 10pt times;
    text-align: center;
}